@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-bg-white: #ffffff;
  --color-black: #1e1e1e;
  --color-light-green: #219f95;
  --color-gray: #696969;
  --color-blue-dark: #234894;
  --color-blue-light: #afcedd;
  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

body {
  font-family: vazir;
  background-color: var(--color-bg-white);
}

body,
* {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}
input {
  border: 0;
  outline: 0;
}
h1 {
  font-size: 2.2rem;
  color: var(--color-black);
}
.container {
  max-width: 1336px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.memberships {
  display: grid;
  grid-template-columns: minmax(370px, 450px);
}
.container h1 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .memberships {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .memberships {
    grid-template-columns: repeat(3, 1fr);
  }
  .container h1 {
    margin-bottom: 4rem;
  }
  .container {
    max-width: 1336px;
    margin: 0 auto;
    padding: 4rem 6rem;
  }
}
.memberships__info {
  height: auto;
  width: auto;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .memberships__info {
    margin: 2rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .memberships__info {
    margin: 2rem 1rem;
  }
}
.memberships__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 2rem;
}
.memberships__info-header > span {
  display: flex;
  align-items: center;
}
.memberships__info-header .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue-dark);
  background-color: var(--color-blue-light);
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-sm);
  font-size: 1.8rem;
}
.memberships__info-header .Documentation {
  margin-right: 1rem;
  color: var(--color-blue-dark);
  font-size: 1.6rem;
}
.memberships__info-header .date {
  font-size: 1.2rem;
  color: var(--color-gray);
  margin-left: 1rem;
}
.memberships__info-detail :first-child {
  color: var(--color-black);
  font-size: 1.8rem;
  font-weight: bold;
}
.memberships__info-detail :last-child {
  color: var(--color-gray);
  font-size: 1.2rem;
}
.memberships__info-request {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.memberships__info-request .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberships__info-request img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}
.memberships__info-request p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-black);
  margin-right: 1rem;
}
.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 2rem 2rem;
  border-radius: var(--border-radius-lg);
  text-align: center;
  font-size: 1.6rem;
  margin-left: 2rem;
  font-weight: bold;
}
.btn--primary {
  color: var(--color-bg-white);
  background-color: var(--color-light-green);
}
